body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    background-color: var(--cor1);
    background-repeat: no-repeat;
}

header {
    background-color: var(--cor4);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
    padding: 15px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;
}

header a {
    margin: 0 10px;
    transition: 0.1s ease;
}

header a:hover {
    color: var(--cor3);
    animation: zoomOutAndIn 0.4s infinite;
}

main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
}

h2 {
    font-weight: 500;
    font-size: 2em;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
}

p {
    font-weight: 300;
    font-size: 1.2em;
}

iframe {
    width: 300px;
    height: 300px;
}

iframe:hover {
    transform: scale(1.05);
}

footer {
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    font-weight: 400;
}