main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.bloco {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.bloco>a {
    position: relative;
    display: inline-block;
}

.texto {
    margin-top: 20px;
    font-size: 2.2em;
}

.bloco>a:hover {
    background-image: url(../images/icons/box-selection.gif);
}

.imagemIconeSelecao {
    padding-bottom: 20px;
}

.imagemIcone:hover {
    animation: zoomInAndOut 0.8s infinite;
}

.texto {
    font-weight: 500;
    color: white;
    letter-spacing: 0.1em;
}

.esconder {
    opacity: 0;
}

@media screen and (min-width: 430px) {
    main {
        text-align: center;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
    }

    .esconder {
        opacity: 100;
    }

    .imagemIconeSelecao {
        display: none;
    }

    .bloco {
        margin: 0;
    }

    .texto {
        margin-top: -50px;
    }
}