main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.bloco {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.bloco > a {
    position: relative;
    display: inline-block;
}

.texto {
    margin-top: 20px;
    font-size: 2.2em;
}

.bloco>a:hover {
    background-image: url(../image/box-selection.gif);
}

.imagemIcone:hover {
    animation: zoomInAndOut 0.8s infinite;
}

.texto {
    font-weight: 500;
    font-size: 2em;
}

.esconder {
    opacity: 0;
}