main {
    margin: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco-redes {
    margin: 30px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
}

.redes {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.imagemIconeSelecao {
    margin: auto;
    margin-bottom: 10px;
    width: 40px;
}

.imagemIcone {
    width: 150px;
}

.redes>a:hover {
    margin: auto;
    background-image: url(../image/box-selection-small.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.imagemIcone:hover {
    animation: zoomInAndOut 0.8s infinite;
}

.texto {
    word-break: break-all;
    margin-top: 10px;
    font-size: 1.5em;
}

.esconder {
    opacity: 0;
}