:root {
    --cor0: #2192FF;
    --cor1: #38E54D;
    --cor2: #9CFF2E;
    --cor3: #FDFF00;

    --transparencia0: rgba(31, 147, 255, 0.50);
    --transparencia1: rgba(56, 229, 76, 0.50);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: var(--cor0);
    background: linear-gradient(135deg, var(--cor0), var(--cor2));
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(45deg, var(--cor3), var(--cor1));
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
    padding: 15px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;
}

header a {
    margin: 0 10px;
    transition: 0.1s ease;
}

header a:hover {
    color: var(--cor0);
    /* transform: scale(1.03); */
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: row;

}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    border-radius: 20px;
}

.dev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}

img {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    transition: 0.2s ease;
}

.design>img:hover {
    box-shadow: 0px 0px 30px 5px var(--transparencia0);
    transform: scale(1.03);
}

.dev>img:hover {
    box-shadow: 0px 0px 30px 5px var(--transparencia1);
    transform: scale(1.03);
}

footer {
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    font-weight: 400;
}