:root {
    --cor0: #2192FF;
    --cor1: #38E54D;
    --cor2: #9CFF2E;
    --cor3: #FDFF00;

    --transparencia0: rgba(255, 255, 255, 0.5);
    --transparencia1: rgba(31, 147, 255, 0.5);
    --transparencia2: rgba(56, 229, 76, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: var(--cor0);
    background: linear-gradient(135deg, var(--cor0), var(--cor2));
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(45deg, var(--cor3), var(--cor1));
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
    padding: 15px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;
}

header a {
    margin: 0 10px;
    transition: 0.1s ease;
}

header a:hover {
    color: var(--cor0);
    transform: scale(1.2);
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.bloco {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.bloco>a>img {
    transition: 0.5s ease;
}

.texto {
    font-weight: 500;
    font-size: 2em;
}

.bloco>a>img:hover {
    transform: scale(1.2);
}

.esconder {
    opacity: 0;
}

footer {
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    font-weight: 400;
}